.Sum {
    text-align: center;

}
.Sum ul {

    background: white;
    list-style-type: none;

}
.Sum ul li {
    width: 30%;
    text-align: left;
    display: block;
    margin: auto;
    padding: 5px;
 }

 @media (max-width: 499px){
    .Sum ul li {
        width: 60%;
        text-align: left;
        display: block;
        margin: auto;
        padding: 5px;
     }
 }

 .CloseBtn {
    color: rgb(128, 126, 126);
    padding: 0;
    border: none;
    background: none;
    transform: translate(30%);
 }